
.div-one{
    height: 400px;
    width: 600px;
    background-color: gray;
    margin-top: 50px;
    margin-left: 150px;
    animation-name: bitm;
    animation-duration: 6s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}
    @keyframes bitm {
        0%{
            background-image: url("../img/images1.jpg");
            background-size: cover; /* full screen*/
            background-repeat: no-repeat;/*img fixed */
            background-position: center;
        }
        50%{
            background-image: url("../img/images2.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        100%{
            background-image: url("../img/images3.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

/*@keyframes bitm {*/
/*    0%{*/
/*        background-color: blue;*/
/*        transform: rotate(0deg) scale(1);*/
/*    }*/
/*    50%{*/
/*        background-color: aqua;*/
/*        transform: rotate(360deg) scale(1.5);*/
/*    }*/
/*    100%{*/
/*        background-color: red;*/
/*        transform: rotate(0deg) scale(1);*/
/*    }*/
/*}*/
/*@keyframes bitm {*/
/*    0%{background-color: black;}*/
/*    25%{background-color: aqua;*/
/*        height: 400px;*/
/*        width: 400px;*/
/*    }*/
/*    50%{background-color: green;*/
/*    height: 500px;*/
/*    width: 700px;*/
/*        }*/
/*    75%{background-color: yellow;*/
/*        height: 300px;*/
/*        width: 300px;*/

/*    }*/
/*    100%{background-color: red;*/
/*        height: 600px;*/
/*        width: 650px;}*/

/*}*/

/*@keyframes bitm {*/
/*    from{*/
/*        background-color: black;*/
/*    }*/
/*    to{*/
/*        background-color: red;*/
/*    }*/

/*}*/
